body {
    background: radial-gradient(rgb(132, 186, 237), rgb(36, 110, 179));

}

section {
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 202, 248);
    border-radius: 2%;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

.top {
    margin: 10px 75px 10px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    /* Add a border to the top and bottom of the navbar */
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

nav {
    /* Remove the default list style and set the display to flex */
    list-style: none;
    display: flex;
    flex-direction: row;
    /* Align the items horizontally in the center of the navbar */
    align-items: center;
    justify-content: space-between;

}

nav ul {
    /* Remove the default list style and set the display to flex */
    list-style: none;
    display: flex;
    flex-direction: row;
    /* Align the items horizontally in the center of the navbar */
    align-items: center;
    justify-content: space-between;

}

#home {
    color: red;
}

li a {
    margin-left: 15px;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 2em;
}

.main {
    width: 800px;
    margin: auto;
}

h1 {
    border: black 3px solid;
    padding: 5px 9px 15px 5px;
    margin-bottom: 0px;
}

.credits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 20px 20px;
}

p {
    margin: 0;
}



#main_img {
    height: 200px;
    width: 300px;

}

.header2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: row;
    border: black 2px solid;
}

.info li {
    list-style: '-';
}

.info ul {
    padding-left: 10px;
    padding-right: 30px;
}

footer {
    display: flex;
    justify-content: space-around;
}

.footer_right {
    margin-top: 30px;
    margin-right: 150px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footer_right li {
    margin-left: 10px;
    text-transform: none;

}


#logo {
    margin-top: 10px;
    margin-left: 100px;
    height: 50px;
    border: black 2px solid;
}




.music {
    width: 600px;
    margin: auto;
    border: 2px solid blue;
}


#moonunitt_img {
    width: 400px;
    margin: 10px 0px 100px 100px;
}

.music-function {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.function-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 74px;
}

.function-list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 75px;
    font-size: 20px;
}

.function-list li {
    margin-bottom: 30px;
    margin-right: 40px;
}

.function-list img {
    width: 300px;
}

.music-img {
    display: flex;
    flex-direction: column;
}

.music-img img {
    width: 300px;
    margin-left: 15px;
}

.social-body {
    background: radial-gradient(rgb(132, 228, 237), rgba(8, 183, 210, 0.796));

}

form {
    margin-top: 30px;
}

fieldset {
    display: flex;
    justify-content: space-between;
}

input {
    margin-bottom: 20px;
}

.form {
    margin-left: 5%;
}

.social-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.program-head {
    margin-left: 30%;
    margin-right: 32%;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.grid-item {
    text-align: center;
}

.grid-item img {
    height: 100px;
}

.grid-item p {
    font-size: 15px;
}

img {
    width: 100%;
}
